body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 400px;
    margin: auto;
}

button {
    margin-right: 1px;
    padding: 7px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 2px;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #007bff;
    color: white;
}

.remove-item {
    color: #ff0000;
    cursor: pointer;
}

/* 品名と値段の列の幅を固定 */
th:nth-child(1), td:nth-child(1) {
    width: 80%; /* 品名列 */
}

th:nth-child(2), td:nth-child(2) {
    width: 15%; /* 値段列 */
}

th:nth-child(3), td:nth-child(3) {
    width: 5%; /* 操作列 */
}

#total-price {
    color: #007bff;
    margin-top: 14px;
    font-size: 16px;
    font-weight: bold;
}